@model team8.Models.Catalog

@{
    ViewData["Title"] = "Edit Catalog";
}

<h2>Edit</h2>
<h4>Catalog Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CatalogEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatalogID" />
            <div class="form-group">
                <label asp-for="ItemName" class="control-label">Item Name</label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPhoto" class="control-label">Item Photo (URL)</label>
                <input asp-for="ItemPhoto" class="form-control" />
                <span asp-validation-for="ItemPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemStock" class="control-label">Quantity</label>
                <input asp-for="ItemStock" class="form-control" />
                <span asp-validation-for="ItemStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label">Price</label>
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="OpsManager" asp-action="Catalog" >Back to Catalog</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 