@model team8.Models.OpsManager

@{
    ViewData["Title"] = "Details";
}

<h2>Operations Manager Account</h2>

<h3>Welcome @Html.DisplayFor(model => model.OpsManagerFirstName) </h3>


<div>
    <div>
        <a asp-controller="OpsManager" asp-action="AllUsers">Users</a>
    </div>

    <div>
        <a asp-controller="OpsManager" asp-action="orderByStatus">Orders</a>
    </div>

</div>

<div>
    <div>
        <a asp-controller="OpsManager" asp-action="Catalog">Catalog</a>
    </div>
</div>

<div>
    <div>
        <a asp-controller="OpsManager" asp-action="opsDetails" asp-route-OpsManagerID="@Model.OpsManagerID">My Information</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
