@model team8.Models.Order
@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<h4>Choose Order Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="orderByStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="orderType" class="control-label">Order Type</label>
                <select asp-for="orderType" name="orderType">
                    <option>- Please select status -</option>
                    <option value="A">All Orders</option>
                    <option value="'Pending'">Pending</option>
                    <option value="'Received'">Received</option>
                    <option value="'Processed'">Processed</option>
                    <option value="'Completed'">Completed</option>
                    <option value="'Shipped'">Shipped</option>
                    <option value="'Closed Out'">Closed Out</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
        <a asp-controller="OpsManager" asp-action="Index">Return to My Account</a>
    </div>
</div>
<div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}