@model team8.Models.Catalog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>@Html.DisplayFor(model => model.ItemName)</h4>
    <hr />
    <dl class="dl-horizontal">
        


        <dd>
            <img src="@Html.DisplayFor(model => model.ItemPhoto)" height="200" width="200" />        
        </dd>

        <dd>
            $@Html.DisplayFor(model => model.ItemPrice)
        </dd>


    </dl>
    <a asp-controller="Checkout" asp-action="Index" asp-route-CatalogID="@Model.CatalogID">Create Order Request</a>
</div>
<div>

    <a asp-controller="Catalog"asp-action="Index">Back to Products</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}