@model team8.Models.Order
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>New Order Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CustomerID" />
            <input type="hidden" asp-for="CatalogID">
            <div class="form-group">
                <label asp-for="JobType" class="control-label">Job Type</label>
                <select asp-for="JobType" name="JobType">
                    <option>- Please select a type -</option>
                    <option value="Print">Print</option>
                    <option value="Engraving">Engraving</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Media" class="control-label">Media</label>
                <input asp-for="Media" class="form-control" />
                <span asp-validation-for="Media" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Content</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="OrderStatus" value="Pending" />
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label">Payment Type</label>
                <select asp-for="PaymentType" name="PaymentType">
                    <option>- Please select a type -</option>
                    <option value="PODelivery">Payment on Delivery</option>
                    <option value="CreditCard">Existing Credit Card</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
