@{
    ViewData["Title"] = "Home Page";

}
<div>
    </br>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img style="margin: 20px 20px" src="images\WSC-Logo.png" width="300px" />
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-4">Williams Specialty Company</h1>
  <hr class="my-4">
  <p>Check out our wide variety of engraving or printing products!</p>
  <!-- add href to catalog -->
  <a class="btn btn-primary btn-lg" asp-controller="Catalog" asp-action="Index" role="button">Shop Now</a>
</div>
