@model team8.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>My Account</h2>

<h4>Welcome @Html.DisplayFor(model => model.CustomerFirstName) </h4>

<div>
    <h4>Customer</h4>
    <hr />
    <div>
        <a asp-controller="Order" asp-action="Index" asp-route-CustomerID="@Model.CustomerID">My Orders</a>
    </div>
    <div>
        <a asp-controller="Payment" asp-action="Index" asp-route-CustomerID="@Model.CustomerID">Payment Information</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

